a.sidebar-link {
  font-size: 12px !important;
}

.content__default p, ul, ol{
  font-size: 14px !important;
  line-height: 1.8 !important;
}

.content__default:not(.custom) > h1, .content__default:not(.custom) > h2, .content__default:not(.custom) > h3, .content__default:not(.custom) > h4, .content__default:not(.custom) > h5, .content__default:not(.custom) > h6 {
  margin-top: -3.5rem !important;
}

.sub-sidebar-wrapper li, .sub-sidebar-wrapper li a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

blockquote {
  background-color: transparent !important;
  margin: 20px !important;
  padding: 0 !important;
  font-size: 1rem !important;
  color: #999 !important;
  border-left: .25rem solid #dfe2e5 !important;
  margin-left: 0 !important;
  padding-left: 1rem !important;
}